<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<p-toast position="center"></p-toast>
<div class="ui-g">
    <!-- column -->
    <div class="ui-g-12">
        <p-panel header="Empleados" [style]="{'margin-top':'20px'}">
            <form #form="ngForm" (ngSubmit)="form.valid && guardar()">
                <div class="ui-g">
                    <div class="ui-g-12" *ngIf="!editar">
                        <p-dataView #dv [value]="empleados" [paginator]="true" layout="grid" [rows]="5" paginatorPosition="both" filterBy="cedula"
                            [sortField]="sortField" [sortOrder]="sortOrder">
                            <p-header>
                                <div class="ui-helper-clearfix">
                                    <div class="ui-g">

                                        <div class="ui-g-6 ui-md-6 filter-container">
                                            <div style="position:relative">
                                                <input type="search" pInputText placeholder="Buscar por Nro cédula" (keyup)="dv.filter($event.target.value)">
                                            </div>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:right">
                                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                        </div>
                                    </div>
                                </div>
                            </p-header>

                            <ng-template let-empleado pTemplate="listItem">
                                <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                                    <div class="ui-g-12 ui-md-3" style="text-align:center">
                                        <img src="https://s3-us-west-2.amazonaws.com/krfacerekognition/{{empleado.foto}}" height="200" width="200">
                                    </div>
                                    <div class="ui-g-12 ui-md-8 car-details">
                                        <div class="ui-g">
                                            <div class="ui-g-2 ui-sm-6">Cédula: </div>
                                            <div class="ui-g-10 ui-sm-6"><b>{{empleado.cedula}}</b></div>
                                            <div class="ui-g-2 ui-sm-6">Nombre: </div>
                                            <div class="ui-g-10 ui-sm-6"><b>{{empleado.nombre}}</b></div>
                                            <div class="ui-g-2 ui-sm-6">Cargo: </div>
                                            <div class="ui-g-10 ui-sm-6"><b>{{empleado.cargo}}</b></div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-1 search-icon">
                                        <button pButton type="button" icon="pi pi-search" (click)="ver(empleado)" class="ui-button-success"></button>
                                        <button pButton type="button" icon="fa fa-pencil-square-o" (click)="editarEmpleado(empleado)"></button>
                                        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="confirmarEliminar(empleado)"></button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-empleado pTemplate="gridItem">
                                <div style="padding:.5em" class="ui-g-12 ui-md-3">
                                    <p-panel [header]="empleado.nombre" [style]="{'text-align':'center'}">
                                        <img src="https://s3-us-west-2.amazonaws.com/krfacerekognition/{{empleado.foto}}" width="60">
                                        <div class="car-detail">{{empleado.cedula}} - {{empleado.cargo}}</div>
                                        <hr class="ui-widget-content" style="border-top:0">
                                        <button pButton type="button" icon="pi pi-search" class="ui-button-success" (click)="ver(empleado)" style="margin-top:0"></button>
                                        <button pButton type="button" icon="fa fa-pencil-square-o" (click)="editarEmpleado(empleado)"></button>
                                        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="confirmarEliminar(empleado)"></button>

                                    </p-panel>
                                </div>
                            </ng-template>
                        </p-dataView>
                    </div>
                    <div class="ui-g-12" *ngIf="editar">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="empleadoSeleccionado!=null">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    {{cols[0].header}} *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input pInputText type="text" name="cedula" [(ngModel)]="empleadoSeleccionado.cedula" required/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p-message severity="error" text="Cedula es requerido" *ngIf="form.submitted  && !form.form.controls.cedula?.valid"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    {{cols[1].header}} *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input pInputText type="text" name="nombre" [(ngModel)]="empleadoSeleccionado.nombre" required />
                                </div>
                                <div class="ui-grid-col-4">
                                    <p-message severity="error" text="Nombre es requerido" *ngIf="form.submitted  && !form.form.controls.nombre?.valid"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    {{cols[2].header}} *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input pInputText type="text" name="cargo" [(ngModel)]="empleadoSeleccionado.cargo" required />
                                </div>
                                <div class="ui-grid-col-4">
                                    <p-message severity="error" text="Cargo es requerido" *ngIf="form.submitted  && !form.form.controls.cargo?.valid"></p-message>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Fotografia *:
                                </div>
                                <div class="ui-grid-col-6">
                                    {{empleadoSeleccionado.foto}}
                                    <input name="file" type="file" id="adjuntar" accept="image/*" class="ui-g-12 ui-md-12 ui-lg-12 inputUpload" (change)="fileChangeEvent($event)"
                                        placeholder="Subir Imagen..." />

                                </div>
                                <div class="ui-grid-col-4">
                                    <p-message severity="error" text="El campo Fotografía es requerido" *ngIf="form.submitted  && empleadoSeleccionado.id == null && documento == null"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    {{cols[4].header}} *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input pInputText type="text" name="email" [(ngModel)]="empleadoSeleccionado.email" required/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p-message severity="error" text="Correo es requerido" *ngIf="form.submitted  && !form.form.controls.email?.valid"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    {{cols[5].header}} *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <p-checkbox [(ngModel)]="empleadoSeleccionado.sistema" name="sistema" binary="true"></p-checkbox>
                                </div>
                                <div class="ui-grid-col-4">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12" style="text-align: right">

                        <button pButton *ngIf="!editar" type="button" icon="pi pi-plus" label="Nuevo" (click)="form.onReset();nuevo()" class="ui-button-info"
                            style="margin-right: .25em"></button>
                        <button pButton *ngIf="editar" type="submit" icon="pi pi-save" label="Guardar" class="ui-button-info" style="margin-right: .25em"></button>
                        <button pButton *ngIf="editar" type="button" icon="pi pi-times" label="Cancelar" (click)="editar=false" class="ui-button-info"
                            style="margin-right: .25em"></button>
                    </div>
                </div>
            </form>
        </p-panel>
    </div>
    <!-- column -->
</div>

<p-dialog header="Detalle empleado" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" width="750" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="empleadoSeleccionado" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <!-- <div class="ui-g-12" style="text-align:center">
            <img src="assets/showcase/images/demo/car/{{selectedCar.brand}}.png">
        </div> -->

        <div class="ui-g-6 ui-md-6" style="text-align:center">
            <img src="https://s3-us-west-2.amazonaws.com/krfacerekognition/{{empleadoSeleccionado.foto}}" height="200" width="200">
        </div>
        <div class="ui-g-6 ui-md-6 car-details">
            <div class="ui-g">
                <div class="ui-g-6 ui-sm-6">Cédula: </div>
                <div class="ui-g-6 ui-sm-6"><b>{{empleadoSeleccionado.cedula}}</b></div>

                <div class="ui-g-6 ui-sm-6">Nombre: </div>
                <div class="ui-g-6 ui-sm-6"><b>{{empleadoSeleccionado.nombre}}</b></div>

                <div class="ui-g-6 ui-sm-6">Cargo: </div>
                <div class="ui-g-6 ui-sm-6"><b>{{empleadoSeleccionado.cargo}}</b></div>

                <div class="ui-g-6 ui-sm-6">Email: </div>
                <div class="ui-g-6 ui-sm-6"><b>{{empleadoSeleccionado.email}}</b></div>
                <div *ngIf="empleadoSeleccionado.sistema">
                    <div class="ui-g-6 ui-sm-6">Usuario sistema: </div>
                    <div class="ui-g-6 ui-sm-6"><b>{{empleadoSeleccionado.sistema}}</b></div>
                </div>

            </div>
        </div>





    </div>
</p-dialog>

<p-confirmDialog header="Confirmación Eliminar" key="confEliminarBici" [baseZIndex]="2" [autoZIndex]="false" icon="pi pi-exclamation-triangle"
    width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>

    </p-footer>
</p-confirmDialog>