<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V17</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<!--===============================================================================================-->


</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form #form="ngForm" (ngSubmit)="form.valid && login()" class="login100-form validate-form">
					<span class="login100-form-title p-b-34">
						Ingreso
						<div class="snapshot" *ngIf="webcamImage.imageAsDataUrl">
							<img [src]="webcamImage.imageAsDataUrl" (load)="checkImage()" />
						</div>
						<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
						 [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
						 (initError)="handleInitError($event)"></webcam>
					</span>

					
					<div class="container-login100-form-btn">
						

						<p-button label="Tomar foto" (onClick)="triggerSnapshot();" style="width: 100%" icon="fa fa-camera" iconPos="left"></p-button>
						<h4 *ngIf="errors.length > 0">Mensajes:</h4>
						<ul *ngFor="let error of errors">
							<li>{{error | json}}</li>
						</ul>
					</div>

					<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">

						</span>

						<a href="#" class="txt2">

						</a>
					</div>

					<div class="w-full text-center">
						<a href="#" class="txt3">

						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('/assets/images/bg-01.jpg');"></div>
			</div>
		</div>
	</div>


	<div>


		<br/>


	</div>


</body>

</html>